@import "./css/reset.css";
@import "./css/vars.css";
@import "./css/header.css";

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 2rem;
  font-family: Helvetica sans-serif;
  /* [TODOLABO]: maak gebruik van de --margin variabele */
  padding: calc((2rem * 2) + 2vw); /* [TODOLABO]: fyi, dit is een voorbeeld van reduced calc test: bekijk output in gebundelde CSS */
  /* [TODOLABO]: maak gebruik van de backgroundColor variabele */
  background-color: #eaeae9;
  /* [TODOLABO]: maak gebruik van de textColor variabele */
  color: #463636;
}


p {
  line-height: calc(1.8);
}


.quoties{
  display: flex;
  justify-content: row;
}

article{
  padding: 2rem;
}

.hide {
  display: none;
}

/** [TODOLABO]: maak gebruik van nieuwe media query syntax */
@media screen and (min-width: 500px) {
  h1 {
    font-size: 6vw;
  }
}

